@import '../variables.scss';

footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 5rem;
	padding: 3rem 0 1.5rem 0;
	width: 100%;
	background-color: black;
	box-shadow: rgba(0, 0, 0, 0.5) 0.1rem 0.5rem 3rem;

	@include tablet-and-smaller {
		@include center-v;
	}

	h2 {
		grid-column: 1/3;
		font-size: 4rem;
		text-align: center;
		text-transform: uppercase;
		line-height: 300%;
		margin-bottom: 5rem;
		color: rgb(0, 200, 230);

		@include small-media {
			line-height: 125%;
			margin-top: 4rem;
		}
	}

	.contact-info {
		@include center-v;
		justify-content: flex-start;
		grid-column: 1;

		h3 {
			font-size: 2.5rem;
			text-transform: uppercase;
			margin-bottom: 2rem;
			color:rgba(200, 0, 200, 0.9)
		}

		.phone, .email {
			font-size: 2.25rem;
			line-height: 200%;
		}

		.social-media-container {
			@include center-h;
			margin-top: 2.5rem;

			.contact-icon {
				margin: 1rem 2rem;

				img {
					height: 3.5rem;
				}
			}
		}
	}

	.contact-form {
		@include center-v;
		grid-column: 2;

		@include tablet-and-smaller {
			margin-top: 5rem;
		}

		input, textarea {
			width: 50%;
			margin: 1rem 0 1rem 0;
			font-size: 2rem;
			line-height: 200%;
			border-radius: 1rem;
			padding: 0 1.5rem 0 1.5rem;
			outline: none;
			color: black;
			transition: all 1s ease;

			@include tablet-and-smaller {
				width: 90%;
			}
		}

		.submit {
			background-color: rgba(100, 0, 100, 0.9);
			text-transform: uppercase;
			outline: none;
			color: white;
			margin-top: 3rem;
			transition: all 1s ease;
		}

		.confirmation {
			@include center-h;
			margin-top: 2rem;
			transition: all 1s ease;

			img {
				margin-right: -1rem;
				height: 5rem;
				filter: invert(100%);
			}

			p {
				width: 50%;
				font-size: 2rem;
				text-transform: uppercase;
				text-align: center;
				line-height: 150%;
			}
		}
	}
}