@import '../variables.scss';

.hero {
	@include center-v;
	height: calc(100vh - 8rem);
	z-index: 2;

	.container {
		position: sticky;
		top: 5rem;
		margin-bottom: 1rem;

		h1 {
			font-size: 10vw;
			font-weight: 600;
			@include font-two;
			text-transform: uppercase;
			text-align: left;

			span {
				font-size: 10vw;
				font-weight: 900;
				@include font-two;
			}
		}

		h2 {
			font-size: 6.7vw;
			font-weight: 100;
			@include font-two;
			text-align: left;
		}
	}
}
