@import '../variables.scss';

.nav {
	position: sticky;
	top: -1.5rem;
	left: 0;
	right: 0;
	z-index: 5;
	@include center-h;
	justify-content: space-around;
	padding: 1.5rem 0 2rem 0;
	min-height: 4.5rem;
	width: 100%;
	background-color: black;
	box-shadow: rgba(0, 0, 0, 0.5) 0.1rem 0.5rem 3rem;
	font-size: 2rem;

	.nav-link {
		filter: invert(100%);
		outline: none;
		cursor: pointer;
		@include center-h;

		&:hover {
			filter: invert(100%);

			img {
				filter: drop-shadow(black 0 0 3px);
			}
		}

		img {
			height: 3rem;
			margin: 1rem 1rem 0 1rem;
		}
	}
}

.downloading {
	margin: -4.1rem 0 0 0;
	@include center-h;
	padding: 1rem 3rem 1rem 3rem;
	border-radius: 0 0 1rem 1rem;	
	background-color: rgba(0, 100, 120, 1);	
	box-shadow:rgba(0, 150, 175, 1) 0.2rem 0.2rem 0.1rem;
	font-size: 1.5rem;
	transition: all ease 1s;
}

.downloading.open {
	margin: 0 0 0 0;
}
